html, body{
    height:100%;
    width: 100%;
}

body{
    padding: 2%;
    background: #22B573;
}
.title{
    font-family: 'Montserrat-ExtraBold;
    22px;     
    color: #fff;
    padding: 12px 0 0 30px;

}
.container{
    background: #29ABE2;
    height: 100%;
    width: 100%;
    border:  #0071BC 2px;
}
.yellow-box1{
    background:#FCEE21;
    height: 40%;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    

}
.yellow-box2{
    background: #FCEE21;
    height: 50%;
    width: 95%;
    margin: auto;
    margin-top: 40px;
}