html, body{
    height:100%;
    width: 100%;
}

body{
    padding: 2%;
    background: #fff;
    padding-top: 0%;
}
.title-h3{
    font-family: 'Montserrat-ExtraBold';
    padding: 0.5% 35%;
}
section{
    height: 97%;
    width: 100%;
    padding: 2%;
    background: #22B573;
}
.title{
    font-family: 'Montserrat-ExtraBold';
    height: 5%;
    font-size: 95%;
    color: #fff;
    padding: 0.5% 2.5%;
}

.container{
    background: #29ABE2;
    height: 100%;
    width: 100%;
    
}
.yellow-box1{
    background:#FCEE21;
    height: 34%;
    width: 95%;
    margin: auto;
    

}
.yellow-box2{
    background: #FCEE21;
    height: 51%;
    width: 95%;
    margin: auto;
    margin-top: 2.55%;
}
.white-boxes{
    height: 100%;
    width: 100%;
    padding: 4% 2% 0% 4%;
}
.white-boxes:after{
    content: "";
    clear: left;
    display: block;
    
}

.white-box{
    height: 78%;
    width: 18.5%;
    background: #fff;
    float: left;
    margin-right: 7%;
    
}
.white-box:last-child{
    margin: 0;
}
.pink-box{
    background: #ED1E79;
    height: 70%;
    width: 75%;
    margin: 8% 0 0 13%;
    
}
.pink-box p{
    color: #fff;
    font-size: 16px;
    padding: 15% 0 0 30%;

}
.yellow-box2 p{
    color: #fff;
    font-size: 35px;
    padding: 10% 0 0 40%;
}
