html, body{
    height:100%;
    width: 100%;
}

body{
    padding: 2%;
    background: #fff;
    padding-top: 0%;
}
.title-h1{
    font-family: 'Montserrat-ExtraBold';
    padding: 0.5% 35%;
}
section{
    height: 97%;
    width: 100%;
    padding: 2%;
    background: #22B573;
}
.title{
    font-family: 'Montserrat-ExtraBold';
    height: 5%;
    color: #fff;
    padding: 0.5% 2.5%;
}

.container{
    background: #29ABE2;
    height: 100%;
    width: 100%;
    
}
.yellow-box1{
    background:#FCEE21;
    height: 34%;
    width: 95%;
    margin: auto;
    

}
.yellow-box2{
    background: #FCEE21;
    height: 51%;
    width: 95%;
    margin: auto;
    margin-top: 2.55%;
}